{% extends "template.html" %}

{% block title %}
ENFJ - The Protagonist
{% endblock %}




{% block main %}
<img src="/static/enfjbanner.png" class="img-fluid mt-3" alt="Responsive image">
<div class="jumbotron bg-white mb-3">
<h2 class="display-10 text-center mb-4">ENFJ - The Protagonist</h2>
<p class="lead text-left">Popular and sensitive, with outstanding people skills. Externally focused, with real concern for how others think and feel. Usually dislike being alone. They see everything from the human angle, and dislike impersonal analysis. Very effective at managing people issues, and leading group discussions. Interested in serving others, and probably place the needs of others over their own needs.</p>
</div>


<form action="/dist" method="get" class="text-center">
    <h5 class="text-center">How rare are you?</h5>
        <button class="btn btn-lg mt-5 btn-outline-secondary" type="submit">Statistics</button>
</form>

<h3 class="text-left my-5">Cognitive Functions</h3>
<p class="lead text-justify">Psychoanalyst Carl Jung's theory suggests that personality is made up of different cognitive functions. The hierarchical order of these functions is what establishes personality and behavioral patterns. The dominant function is the one that plays the largest role in personality, although it is also supported by the auxiliary. The tertiary function is less developed, but still exerts some influence and become more pronounced as a person strengthens this area. The inferior function is largely unconscious, but represents an area of weakness.</p>

<h3 class="text-left my-5">ENFJ Characteristics</h3>
<ul class="lead text-left my-8">
<li>ENFJs are strong extraverts; then sincerely enjoy spending time with other people. They have great people skills and are often described as warm, affectionate and supportive. Not only are people with this personality type great at encouraging other people, they also derive personal satisfaction from helping others.</li>
<li>ENFJs are often so interested in devoting their time to others that they can neglect their own needs. They also have a tendency to be too hard on themselves, blaming themselves for when things go wrong and not giving themselves enough credit when things go right. Because of this, it is important that people with this personality type regularly set aside some time to attend to their own needs.</li>
<li>They are also good at bringing consensus among diverse people. For this reason, they can be outstanding leaders and bring an enthusiasm to a group that can be motivating and inspirational.</li>
<li>Tends to be flexible and good at thinking "outside of the box."</li>
<li>One common myth about ENFJs is that they are always sociable. While they love people, they do need time alone in order to assimilate and organize their thoughts.</li>
</ul>

<h3 class="text-left my-5">Dominant: Extraverted Feeling</h3>
<p class="lead text-justify">ENFJs like to think about the future rather than the present. They may often become so focused on the larger goal that they lose sight of the immediate details. As ENFJs take in information about the world, their introverted intuition processes this data in order to create impressions, ideas, and thoughts. This allows them to spot patterns and make sense of complex or abstract data.</p>

<p class="lead text-justify">ENFJs place a stronger emphasis on personal, subject considerations rather than objective criteria when making decisions. How a decision will impact others is often a primary concern.</p>

<h3 class="text-left my-5">Auxiliary: Extraverted Intuition</h3>
<p class="lead text-justify">ENFJs like to think about the future rather than the present. They may often become so focused on the larger goal that they lose sight of the immediate details. As ENFJs take in information about the world, their introverted intuition processes this data in order to create impressions, ideas, and thoughts. This allows them to spot patterns and make sense of complex or abstract data.</p>

<h3 class="text-left my-5">Tertiary: Extraverted Sensing</h3>
<p class="lead text-justify">In an ENFJs personality, extraverted sensing causes them to take in the present moment, gathering concrete details and sensory information from the environment. Because of this, they will often seek out novel or interesting experiences and sensations. People with this personality type tend to be very aware of their present environment. This can lead to a great appreciation of aesthetics and a desire to create a pleasing space.</p>

<h3 class="text-left my-5">Inferior: Introverted Thinking</h3>
<p class="lead text-justify mb-5">ENFJs are organized and enjoy structure and careful planning. Sticking to a predictable schedule helps ENFJs feel in control of the world around them. Because this is an inferior function, ENFPs may not have a great deal of confidence in their own ability to be logical and organized. Developing this function can help people with this personality type feel more balanced and in control of their decision-making process. Neglecting this aspect of personality can lead to relying solely on personal values when making decisions and neglecting the need for logic.</p>


{% endblock %}

